<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reqon Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table.w-full tr td { border-top-width: 1px }
        table.w-full tr td:first-child { border-left-width: 1px }
        table.w-full tr td:last-child { border-right-width: 1px }
        table.w-full tr:last-child td { border-bottom-width: 1px }
        table.w-full tr:last-child td:last-child { border-radius: 0 0 0.25rem 0 }
        table.w-full tr:first-child td:last-child { border-radius: 0 0.25rem 0 0 }
        table.w-full tr:last-child td:first-child { border-radius: 0 0 0 0.25rem }
        table.w-full tr:first-child td:first-child { border-radius: 0.25rem 0 0 0 }
    </style>
</head>

<body class="bg-gray-100">
    <div class="min-h-full">
        <nav class="bg-white border-gray-200 border-b">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 text-3xl">📡</div>
                        <div class="hidden md:block">
                            <div class="ml-4 flex items-baseline">
                                <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                                    aria-current="page">Reqon</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ml-4 flex items-center md:ml-6">
                            <span class="text-sm font-semibold" id="countup">0s ago</span>
                            <button type="button"
                                onclick="window.location.reload()"
                                class="rounded-full bg-gray-800 p-1 ml-2 text-gray-200 hover:text-white focus:outline-none">
                                <span class="sr-only">Refresh</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                  </svg>                                  
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
            </div>
        </header>

        <main>
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="px-4 pb-6 sm:px-0">
                    <% entries.forEach(function(entry) { %>
                        <div class="bg-white overflow-x-auto shadow-sm sm:rounded-lg border-gray-200 border-b-gray-300 border mb-8">
                            <div class="flex justify-between items-center bg-gray-50 text-gray-900 border-b border-gray-300 text-sm">
                                <div class="p-4 font-medium">
                                    <span class="bg-green-200 text-green-600 font-semibold rounded py-1 px-2 mr-2"><%= entry.method %></span>
                                    <%= entry.url %>
                                </div>
                                <div class="p-4 text-right">
                                    <div class="font-medium">
                                        <%= entry.date %>
                                        <span class="block text-xs text-gray-500"><%= prettyMs(new Date().valueOf() - new Date(entry.date).valueOf(), { compact: true }) %> ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-4 pb-6 px-6">
                                <div>
                                    <h2 class="text-xl font-semibold text-gray-900 mb-2">Headers</h2>
                                    <div class="overflow-x-auto">
                                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border-separate border-spacing-0">
                                            <tbody>
                                                <% Object.keys(entry.headers).forEach(function(header) { %>
                                                    <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                        <td class="p-3 font-semibold text-right border-gray-200 w-48">
                                                            <%= header %>
                                                        </td>
                                                        <td class="p-3 border-gray-200">
                                                            <pre><%= entry.headers[header] %></pre>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <% if (Object.keys(entry.query).length) { %>
                                    <div class="mt-8">
                                        <h2 class="text-xl font-semibold text-gray-900 mb-2">URL Query</h2>
                                    </div>
                                    <div class="overflow-x-auto">
                                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border-separate border-spacing-0">
                                            <tbody>
                                                <% Object.keys(entry.query).forEach(function(str) { %>
                                                    <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                        <td class="p-3 font-semibold text-right border-gray-200 w-48">
                                                            <%= str %>
                                                        </td>
                                                        <td class="p-3 border-gray-200">
                                                            <pre><%= entry.query[str] %></pre>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                <% } %>
                                <% if (Object.keys(entry.body).length) { %>
                                    <div class="mt-8">
                                        <h2 class="text-xl font-semibold text-gray-900 mb-2">Request Body</h2>
                                    </div>
                                    <div class="overflow-x-auto">
                                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border-separate border-spacing-0">
                                            <tbody>
                                                <% Object.keys(entry.body).forEach(function(key) { %>
                                                    <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                        <td class="p-3 font-semibold text-right border-gray-200 w-48">
                                                            <%= key %>
                                                        </td>
                                                        <td class="p-3 border-gray-200">
                                                            <pre><%- JSON.stringify(entry.body[key], null, 2) %></pre>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </main>
    </div>

    <script>
        let countup = 0
        setInterval(() => {
            countup++;

            if (countup >= 30) {
                window.location.reload()
            }

            document.getElementById('countup').innerHTML = `${countup}s ago`
        }, 1000)
    </script>
</body>

</html>